{{define "newsfeed"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>news feed</title>
    <link rel="stylesheet" href="styles/newsfeed.css">
</head>
<body>
<div class="container">
    <div class="error-messages"></div>
    <div class="header">
        <img src="/policy/crisis24.png" class="logo" alt="Crisis24 logo" srcset="">
        <h1>Events stream for <span class="topic-name">topic</span></h1>
    </div>
    <div id="menu">
        <input type="text" id="table-search" placeholder="Search in table" />
        <a id="csv-button" href="">download CSV</a>
    </div>
    <div id="table">
        <table id="output"></table>
    </div>
</div>
<script src="scripts/table.js"></script>
<script src="scripts/script.js"></script>
</body>
</html>
{{end}}
