// TODO: refactor all constants to utils, if it makes sense

.category {
    border-radius: 7px;
    margin: 2px 4px;
    padding: 4px;
}

table {
	border-collapse: collapse;
	overflow: hidden;

	tbody {
        td {
            padding: 4px;
            height: 8px;

            a, a:visited {
                display: block;
                text-align: left;
                width: 100%;
            }

            img {
                align-self: center;
                justify-content: center;
            }

            .time {
                margin-left: 15px;
            }
        }
    }

    thead {
        height: 35px;
        user-select: none;

        td {
            font-weight: 500;
            padding: 2px;
            text-align: center;
        }

        .arrow {
            margin-left: 8px;
            position: relative;
        }
    }

    td {
        min-width: 70px;
        &.image-centered {
            img{
                transform: translateX(calc(50% + 5px));
            }
        }
        &.text-centered {
            text-align: center;
        }
    }
}



