@import url('http://fonts.cdnfonts.com/css/futura-md-bt');

//visibility order
$z-index-background: 1;
$z-index-back: 10;
$z-index-hidden: 0;
$z-index-middle: 100;
$z-index-front: 1000;
$z-index-foreground: 5000;
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Futura Lt BT', sans-serif !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

ul {
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

