@import "utils";
@import "media-utils";
@import "table";

.container {
    padding: 10px;

    &>*:not(:first-child) {
        margin-top: 5px;
    }
}

.error-messages {
    color: rgb(240,50,50);
    width: 100%;
}

.shadow {
    background-color: rgba(100, 100, 100, 0.3);
}

#menu {
    position: relative;
    height: 50px;
    width: 80%;

    #csv-button {
        position: absolute;
        right: 2px;

        &:hover {
            color: #e8735e;
        }
    }
}
