@import "responsiveness";

@import "theme";
@import "theme_switch";

@import "terminal";
@import "graph";
@import "table";
@import "header-menu";


.container {
    height: 100vh;
    padding: 10px;
}

.error-messages {
    position: fixed;
    width: 100%;
}

#dashboard {
    //background-color: $dark-grey;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 25vw;
    z-index: 100;
}

#header {
    height: 3vh;
    margin-bottom: 10px;
    min-height: 70px;
    position: fixed;
}

#menu {
    height: 3vh;
    margin-bottom: 10px;
    min-height: 70px;
    position: fixed;
    padding-bottom: 10px;
}

#table {
    overflow-y: auto;
    padding-top: 10vh; // hack
    width: 70vw;

    table {
        width: 100%;
    }
}

#terminal {
    height: 30vh !important;
    width: 75vw;
}
