@import "utils";
@import "media-utils";
@import "table";

.category {
    border: 1px solid grey;
    border-radius: 7px;
    color: white;
    margin: 2px 4px;
    padding: 4px;
}

.container {
    padding: 10px;

    &>*:not(:first-child) {
        margin-top: 5px;
    }
}

.error-messages {
    color: rgb(240,50,50);
    width: 100%;
}

.header {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    h1 {
        font-size: 25px;
        margin-left: 18px;
    }

    .logo {
        height: 70px;
        width: 70px;
    }

    .topic-name {
        text-decoration: underline;
    }
}

.rounded {
    border-radius: 20px;
}

.shadow {
    background-color: rgba(100, 100, 100, 0.2);
}

$menu-elements-height: 27px;
#menu {
    align-items: end;
    display: flex;
    margin-bottom: 10px;
    position: relative;
    height: 50px;
    width: 80%;

    #csv-button {
        border: 1px solid $light-grey;
        border-radius: 5px;
        font-weight: 400;
        line-height: $menu-elements-height;
        padding: 0 7px;
        position: absolute;
        right: 2px;
        height: $menu-elements-height;

        &:hover {
            color: #e8735e;
        }
    }

    #table-search {
        background-color: $light-grey;
        border: 1px solid $red;
        border-radius: 5px;
//         display: block;
        color: $black;
        height: 27px;
        margin-left: 2px;
        font-size: 15px;
        text-indent: 5px;
        width: 500px;
    }
}
